<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/root_layout"
      lang="fr">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Blog</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QATRAT HAYAT</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <style>
     .modal {  
  margin-top: 60px;
}
li{
  margin: 5px 0;
}
    
    #scroll-btn{
background-color: white;
border: medium nome;
border-radius: 30px;
bottom: 20px;
border-color : crimson;
cursor: pointer;
display: none;
outline: medium none;
padding: 10px 15px 7px;
position: fixed;
right: 30px;
z-index: 99;
}

#scroll-btn:hover {
  background-color: crimson;
} 
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}   
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
    
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
    color:  #333;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
    color: #333;
}   
.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}   
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}

.overlay {
  /* Display over the entire page */
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);

  /* Horizontal and vertical centering of the image */
  display: flex;
  align-items: center;
  text-align: center;

  /* We hide all this by default */
  visibility: hidden;
}

.overlay img{
	display: block;
    width: 60%;
    height: 80%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 12px;
  /* Maximum image size */
  /* We keep the ratio of the image */
  
}
.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
}
</style>







</head>

<body>
<script>

$(' .blog_details #deletebutton ').on('click',function(event)
{	
event.preventDefault();
var href = $(this).attr('href');
$('#deleteArticle #delRef').attr('href'. href);
$('#deleteArticle').modal();
});

</script>
  <!--::header part start::-->
    <header class="main_menu"style ="background-color:#4116bb">
        <div class="container" >
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand main_logo" href="/home"> <img src="images/logo.jpg"  alt="logo"> </a>
                        <a class="navbar-brand single_page_logo" href="/home"> <img src="images/blodlogo 1.png"  alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Acceuil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/all_annonce">Annonces</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/all_campagne">Collectes de sang</a>
                                </li>
                                 <li class="nav-item">
                                   <a class="nav-link" href="/blog">Blog</a>
                                 </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            </ul>
                            
                        </div>
                        
                        <div class="nav_login">
                        <ul>
                        <li  style="display: inline-block;">
                         <div sec:authorize="isAuthenticated()">
                            <div class="navbar-nav ml-auto">
                                <div class="nav-item dropdown">
                                    <div  data-toggle="dropdown" class="nav-link dropdown-toggle user-action" >
                                    	
                                   		 <img th:if="${ image != null}" th:src="@{${'/photo_de_profiles/' + image }}" class="avatar" alt="Avatar"> 
                                   		 
                                   		 <img th:if="${ image == null}" src="images/av.svg" class="avatar" alt="Avatar"> 
                                    
                                    <span class="username" th:text="${#authentication.getPrincipal().getUsername()}" style="color :rgb(255, 106, 106); font-weight: bolder;">Guest</span> <b class="caret"></b></div>
                            <div class="dropdown-menu" style="border-radius: 10px;">
                            	<a th:href="@{/profile}" class="dropdown-item" ><i class="material-icons">account_circle</i> Mon profile</a>
                     
                            	
                                <a th:href="@{/logout}" class="dropdown-item" ><i class="material-icons">&#xE8AC;</i> se deconnecter</a>
                            </div>
                                </div>
                            </div>
                       </div>
                        </li>
                     
                       <li style="display: inline-block;" >
                        <div sec:authorize="isAnonymous()">
                            <div class="dropdown show">
                         <a  class="d-none d-sm-block btn_1 home_page_btn" style ="color : white" >s'inscrire</a>

                         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border-radius: 10px;">
                           <a th:href="@{/registerdonneur}" class="dropdown-item" href="#"><i class="fa fa-user-plus" style="margin-right: 10px; font-size: 20px;"></i>Donneur</a>
                            <div class="dropdown-divider" ></div>
                            <a th:href="@{/registerhopital}" class="dropdown-item" href="#"><i class="fa fa-user-md" style="margin-right: 10px; font-size: 20px;"></i>Hopital</a>
                           
                            </div>
                           </div>
                         </div>
                       
                       </li>
                        <li style="display: inline-block;">
                        <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}" class="d-none d-sm-block btn_1 home_page_btn" style ="color : white" >se connecter</a>
                        </div>
                         
                        
                        </li>
                    </ul>
                </div>
                 </nav>
					</div>
                   
                </div>
            </div>
        
    </header>
    <!--::Header part end::-->

    <!-- breadcrumb start-->
    <section  class="breadcrumb breadcrumb_bg" style="background-image: url('images/cover.jpg'); background-repeat: no-repeat; margin: 100px 0;  background-size: 100% 500px; width: 100%">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="color: #4d4d4d;">Notre Blog</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                    	<div sec:authorize="hasAuthority('ADMIN')">
      						<a href="#addarticle" class="btn btn-success" data-toggle="modal"  ><i class="fas fa-plus-circle" style="color: white;"></i> 
     								<span style="color: white;"> Ajouter un nouveau article </span>
     						 </a>     
					</div>
					<br>
                       <div th:switch="${articles}">
                      	<div th:each="article : ${articles}">
                      			<article class="blog_item">
                           				<div class="blog_item_img">
                               				 <img class="card-img rounded-0" th:src="@{${'/photos/' + article.image }}" alt="image blog" width="100%" height="530">
                               				 
                                			 <div  class="blog_item_date">
                                				<p>
                                    				<i class='far fa-calendar-alt'></i>
                                    				Le 
                                    				<strong>
                                    					<span th:text="${#dates.format(article.date, 'dd')}"></span>
                                    					<span th:text="${#dates.monthName(article.date)} + ' ' +  ${#dates.format(article.date, 'YYYY')}"> </span>
                                    				</strong>
                                    			
                                    				à
                                    				<strong><span th:text="${#dates.format(article.date, 'HH:mm')}"></span></strong>
                                    			
                                    			</p>
                                    			
                                    			
                                			</div>
                            			</div>
                         <div class="blog_details">
                            <div class="d-inline-block" >
                                    <h2><span th:text="${article.titre}"></span></h2>
                                </div>
                                
                                <p style=" text-indent: 0px;; font-family: Barlow Semi Condensed, sans-serif;line-height: 28px; font-size: 16px; margin-bottom: 0px; color: #888888; font-weight: 400; margin-left: 0;">
                                <p th:utext="${article.contenu}"></p>
                                
                <span  sec:authorize="hasAuthority('ADMIN')">
                <a style="font-size: 20px;" th:href="@{/editarticle/{id_article}(id_article=${article.id_article})}" class="edit" ><i class="fas fa-edit" data-toggle="tooltip" title="Modifier" style=" margin-right: 10px;"></i>Modifier cet article</a>
                </span>
                <br>
                <span sec:authorize="hasAuthority('ADMIN')">
                <a style="font-size: 20px;" href="#" th:onclick="'javascript:confirmDelete(\''+ ${article.id_article} +'\');'"  class="delete"><i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="Supprimer" style=" margin-right: 15px;"></i>Supprimer cet article</a>
                </span>
                         </div>
                
                        	</article>
                      	</div>	
                      </div>

                        

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        

                        
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title"><span><i class="fas fa-hashtag"></i> Tag Don de Sang</span></h4>
                            <ul class="list">
                                <li>
                                    <a href="#">#Solidarité</a>
                                </li>
                                <li>
                                    <a href="#">#santé</a>
                                </li>
                                <li>
                                    <a href="#">#dondesang</a>
                                </li>
                                <li>
                                    <a href="#">#Volontariat</a>
                                </li>
                                <li>
                                    <a href="#">#Savelife</a>
                                </li>
                                <li>
                                    <a href="#">#jesauveunevie</a>
                                </li>
                           
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title"><span><i class="fas fa-images"></i> Images des campagnes de sensibilisation</span></h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic1" >
  											<img class="img-fluid" src="images/donner1.jpg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic1">
  											<img src="images/donner1.jpg" alt="Fullscreen">
									</a>
                                </li>
                                <li>
                                   <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic2" >
  											<img class="img-fluid" src="images/donner2.jpg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic2">
  											<img src="images/donner2.jpg" alt="Fullscreen">
									</a>
                                </li>
                                <li>
                                    <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic3" >
  											<img class="img-fluid" src="images/donner3.jpg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic3">
  											<img src="images/donner3.jpg" alt="Fullscreen">
									</a>
                                </li>
                                <li>
                                    <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic4" >
  											<img class="img-fluid" src="images/donner4.jpg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic4">
  											<img src="images/donner4.jpg" alt="Fullscreen">
									</a>
                                </li>
                                <li>
                                    <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic5" >
  											<img class="img-fluid" src="images/donner5.jpg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic5">
  											<img src="images/donner5.jpg" alt="Fullscreen">
									</a>
                                </li>
                                <li>
                                    <!-- The link that, when clicked, will display the image in full screen -->
									<a href="#pic6" >
  											<img class="img-fluid" src="images/donner6.jpeg" alt="Thumbnail">
									</a>

									<!-- The full screen image, hidden by default  -->
									<a href="#_" class="overlay" id="pic6">
  											<img src="images/donner6.jpeg" alt="Fullscreen">
									</a>
                                </li>
                            </ul>
                        </aside>


                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

     <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-4 col-lg-4">
                    <div class="single_footer_part">
                        <a href="/home" class="footer_logo_iner"> <img src="images/blodlogo.png" alt="#"> </a>
                        <p>Aux urgences, certaines victimes arrivent dans un état critique et ont perdu beaucoup de sang. 
                            Et comme aucun produit artificiel ne peut remplacer le sang humain,
                             la seule solution pour sauver ces personnes est la transfusion sanguine, grâce au sang des donneurs compatibles
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                       <h4>Qui Sommes-Nous?</h4>
                        <ul class="list-unstyled">
                            <li><a href="" data-toggle="modal" data-target="#Apropos">À propos de nous</a></li>  
                              
                        </ul>
                    </div>
                </div>
                
                <!-- The Modal -->
  <div class="modal fade" id="Apropos" style="siz" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">À propos de nous</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <p>
          Créée le 3 Aout 2020, Qatrat Hayat est  une association à but non lucratif dont la vocation est
           la sensibilisation du public marocain à la culture du don de sang en collaboration avec le centre national
            de transfusion sanguine et avec l’appui de tous les acteurs de la société civile.
             </p>
             <p>
             Ce site est réalisé pour susciter des participations matérielles et financières de la part de particuliers, 
             associations professionnelles ou caritatives et entreprises soucieuses d’associer leurs identités 
             et marque à une action citoyenne aussi noble que le don du sang.
             </p>
             
           <h3 style="font-family: "Barlow Semi Condensed", sans-serif;"><i class="fa fa-hand-holding-heart" style=" margin-right: 10px; color:crimson" aria-hidden="true"></i>Notre but :</h3>   
          <div class="container">  
			<ul style="list-style: disc; font-family: "Barlow Semi Condensed", sans-serif;">
				<li>Fidéliser les donneurs en rendant plus chaleureux et convivial l’acte du don de sang.</li>
				<li>Fournir une plateforme spéciale au hopitaux pour qu'il puissent annoncer leur besoin de sang.</li>
				<li>Assurer la culture du don de sang volontaire et régulier.</li>
				<li>Développer l’information autour du don de sang.</li>
				<li>Animer des actions de bénévolat dans la région.</li>
			</ul>
		</div> 
			<p>
		Nous sommes tous convaincus de la nécessité de ce geste de solidarité, nos adhérents militent pour amener d'autres personnes à accomplir cet acte volontaire,gratuit et anonyme.

		Notre association est ouverte à tous ceux qui souhaitent nous aider et nous encourager à aller de l’avant.
			</p>
             
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Liens Rapide</h4>
                        <ul class="list-unstyled">
                            <li><a href="/home">Acceuil</a></li>
                            <li><a href="/all_annonce">Annonce</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/all_compagne">Collectes De Sang</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>INFORMATIONS LÉGALES</h4>
                       <ul class="list-unstyled">
                            <li><a href="https://drive.google.com/file/d/1a5U_tbgBWyXRbX6fJ0qIKUukuJkp160N/view?usp=sharing" target="_blank" >conditions de service</a></li>
                            <li><a href="https://drive.google.com/file/d/1BBCtnu5rHCS2qAeL_G0NbRPJYHdsTLIC/view?usp=sharing" target="_blank" >Gestion des Cookies</a></li>
                            <li><a href="https://drive.google.com/file/d/1-AV0gXvWGELTGf0otvC3q0ADARz9fJUh/view?usp=sharing" target="_blank" >Les Termes d'utilisation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="single_footer_part">
                        <h4>DES QUESTIONS ?</h4>
                        <ul class="list-unstyled">
                        	<li><a href="/blog">Le don de sang et CoronaVirus</a></li>
                            <li><a href="/blog">État de santé Pour Pouvoire Donner Du Sang</a></li>
                            <li><a href="/blog">Pesez-vous moins de 50 kg ?</a></li>
                            <li><a href="/blog">Avez-vous été vacciné(e) ?</a></li>
                            <li><a href="/blog">Êtes-vous allé(e) chez le dentiste dans les 7 derniers jours ?</a></li>
                            <li><a href="/blog">Avez-vous déjà été opéré(e) ou hospitalisé(e) ?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<script>document.write(new Date().getFullYear());</script> tous les droits reservés | Créé par HORA <i class="ti-heart" aria-hidden="true"></i></P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                         <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div sec:authorize="hasAuthority('ADMIN')">
      <div id="addarticle" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">
   <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <form method="POST" th:action="@{/upload}" th:object="${article}" enctype="multipart/form-data">
     <div class="modal-header">      
      <h4 class="modal-title">Ajouter un nouveau article</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
     </div>
     <div class="modal-body">     
      <div class="form-group">
       <label>Titre</label>
       	<input type="text" th:field="*{titre}" id="titre" placeholder="Le titre" class="form-control" required>
       	<span th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}"></span>
      </div>
      <div class="form-group">
        <label>contenu</label>
       	<br>
       	<textarea th:field="*{contenu}" id="contenu" name="contenu" required>
       	
		</textarea>
		<script>
                        CKEDITOR.replace( 'contenu' );
        </script>
       	<span th:if="${#fields.hasErrors('contenu')}" th:errors="*{contenu}"></span>
      </div>
      <div class="form-group">
       <div class="custom-file mb-3">
      <input type="file" name="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose file</label>
    	</div>
      </div>
      <input type="submit" class="btn btn-success" value="Ajouter">
      </div>
    </form>
   </div>
  </div>
 </div>
</div>

     



        
    </footer>
    
    
    <!--::footer_part end::-->
    
      <button onclick="scrollToTop()" id="scroll-btn" title="vers le haut"><img src="img/up-arrow.png"  width="25px" height= "25px"  ></button>
    
  <script>
// When the user scrolls down 20px from the top of the document,we will show the button
window.onscroll = function()
{
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
{
document.getElementById("scroll-btn").style.display = "block";
}
else
{
document.getElementById("scroll-btn").style.display = "none";
}
};

function scrollToTop()
{
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
    
    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation de suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez-vous vraiment supprimer cet article?
        <input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-danger" th:onclick="deleteArticle()">Oui, supprimer</button>
      </div>
    </div>
  </div>
</div>

    
        <!-- jquery plugins here-->
        <script src="js/jquery-1.12.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- easing js -->
        <script src="js/jquery.magnific-popup.js"></script>
        <!-- swiper js -->
        <script src="js/swiper.min.js"></script>
        <!-- swiper js -->
        <script src="js/masonry.pkgd.js"></script>
        <!-- particles js -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <!-- slick js -->
        <script src="js/slick.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        
        
        <script type="text/javascript">
function confirmDelete(id_article){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id_article);
}

function deleteArticle(){
	var id_article = $("#userIdHiddenInput").val();
    window.location = '/deletearticle/' + id_article ; 
    
}




$(".custom-file-input").on("change", function() {
	  var file = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(file);
	});

//add this js script into the web page,
//you want reload once after first load
window.onload = (function()
			{
		if( window.localStorage )
		{
			if( !localStorage.getItem( 'firstLoad' ) )
			{
			localStorage[ 'firstLoad' ] = true;
			window.location.reload();
			}  

			else
			localStorage.removeItem( 'firstLoad' );
		}
		})();

</script>
        </body>
    
    </html>